body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #111;
  color: #fff;
}

main {
  min-height: 80vh;
  padding: 40px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
