.filters{
    display:flex;
    gap:12px;
    justify-content:center;
    margin: 12px 0;
}
.filters button{
    background:#00e6c3;
    border:none;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
    font-weight:700; 
}
.items-container{
     padding-top:10px; 
}
